<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publishers</title>
</head>
<body>
<div align="center">
    <h1>Publisher Info</h1>
    <br/>
    <a href="/publishers/new">Add New Publisher</a>
    <table border="2" cellpadding="10px">
        <thead>
        <tr>
            <th>Name</th>
            <th colspan="2">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="publisher : ${publishers}">
            <td th:text="${publisher.name}"/>
            <td th:text="${publisher.description}"/>
            <td>
                <a th:href="@{'/publishers/edit/' + ${publisher.id}}">Edit</a>
                <a th:href="@{'/publishers/delete/' + ${publisher.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>